.categories {
    background-color: var(--white-color);
    position: relative;
    z-index: 1;

    .taitel {
        .taitel-img {
            position: absolute;
            bottom: -14px;
            left: 0;
        }
    }

    .categories-taitel-btn {
        text-align: end;

        a {
            font-family: var(--DMSans);
            font-size: 24px;
            font-weight: var(--bold);
            line-height: 24px;
            text-decoration-line: underline;
            color: var(--primary-color);
            transition: var(--transition-all);

            &:hover {
                color: var(--secondary-color);
            }
        }
    }

    .categories-logo {
        padding: 40px 30px 30px 30px;
        border: 1px solid #E9E9E9;
        border-radius: 7px;
        position: relative;
        z-index: 1;
        text-align: center;

        .categories-logo-thumb {
            width: 80px;
            height: 80px;


            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: var(--transition-all);
            }
        }

        .categories-logo-txt {
            text-align: center;
            margin-top: 40px;

            p {
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                color: var(--paragraph-color);
            }

            h5 {
                margin-top: 7px;
                font-weight: 700;
                line-height: 28px;

            }
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }

    }
}



.categories-two {

    position: relative;
    z-index: 1;

    overflow: hidden;



    .categories-form {
        padding: 40px 30px 30px 30px;
        background-color: var(--headline-color);
        border-radius: 8px;
    }

    .categories-form-taitel {
        font-size: 26px;
        font-weight: var(--bold);
        line-height: 36px;
        font-family: var(--DMSans);
        color: var(--white-color);
        padding-right: 100px;
    }

    .nav {
        gap: 67px;
        border-bottom: 1px solid #E9E9E9;
        padding-bottom: 14px;
        margin-top: 63px;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        background-color: transparent;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            bottom: -16px;
            left: 0;
            width: 47px;
            height: 3px;
            background-color: var(--primary-color);

        }
    }

    .nav-link {
        padding: 0 0;
        color: var(--white-color);
        font-size: 18px;
        font-weight: var(--bold);
        line-height: 18px;
        font-family: var(--DMSans);
    }


    .form-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        margin-bottom: 15px;

        &:first-child {
            margin-top: 24px;
        }

        .form-inner {
            width: 100%;

            .form-label {
                font-size: 18px;
                font-weight: var(--semiBold);
                line-height: 18px;
                color: var(--white-color);
                font-family: var(--roboto);
            }

            .form-control {
                font-size: 14px;
                font-weight: var(--regular);
                line-height: 14px;
                color: var(--headline-color);
                font-family: var(--roboto);
                padding: 16px 20px;
                border-radius: 4px;



                &::placeholder {
                    color: #B1B1B1;
                }
            }

            .form-select {
                font-size: 14px;
                font-weight: var(--medium);
                line-height: 14px;
                color: var(--headline-color);
                font-family: var(--roboto);
                padding: 16px 20px;
                border-radius: 4px;
                cursor: pointer;



            }
        }
    }

    .form-item-btn {
        margin-top: 18px;

        .thm-btn {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 12px;
            border: 1px solid var(--primary-color);

            span {
                svg {
                    stroke: currentColor;
                    color: var(--white-color);
                }
            }
        }
    }


    .categories-img-main {
        position: relative;

        .categories-img {
            position: absolute;
            top: -199px;
            right: -245px;
            z-index: -1;
        }
    }




}




.categories-three {


    .categories-close-img-main {
        position: relative;
        z-index: 1;

        .categories-close-img {
            position: relative;

            img {
                width: 100%;
                height: 675px;
            }

            .categories-close-btn {
                border: transparent;
                background-color: transparent;
                position: absolute;
                top: 20px;
                right: 20px;

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .catagories-car-img {
            position: absolute;
            bottom: -155px;
            right: -243px;
            z-index: -1;
        }
    }
}