.contact-us {
    padding: 120px 0 0 0;
    background-color: var(--white-color);
    position: relative;
    z-index: 1;



    .contact-us-taitel {
        font-family: var(--DMSans);
    }

    .contact-us-dec {
        padding-top: 20px;
        font-family: var(--roboto);
        font-size: 16px;
        font-weight: var(--regular);
        line-height: 28px;
        color: var(--paragraph-color);

    }


    .contact-us-item {
        padding: 33px 45px;
        border-radius: 10px;
        background: #F9FAFF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;

        .contact-us-inner {
            text-align: center;

            .icon {
                span {
                    svg {
                        fill: currentColor;
                        color: var(--primary-color-2);
                    }
                }
            }

            .text {
                h4 {
                    font-family: var(--DMSans);
                    font-size: 22px;
                    font-weight: var(--medium);
                    line-height: 20px;
                    padding: 26PX 0 10PX 0;
                    color: var(--headline-color);
                }

                p {
                    font-family: var(--roboto);
                    font-size: 16px;
                    font-weight: var(--regular);
                    line-height: 28px;
                    color: var(--paragraph-color);
                }
            }
        }
    }


    .contact-box {
        a {
            font-family: var(--DMSans);
            font-size: 24px;
            font-weight: var(--bold);
            line-height: 34px;
            color: var(--headline-color);
            padding-top: 40px;
        }
    }


    .location {
        padding-top: 20px;

        a {
            padding-top: 0;
            color: var(--headline-color);
            font-family: var(--roboto);
            font-size: 16px;
            font-weight: var(--regular);
            line-height: 16px;

            span {
                svg {
                    fill: currentColor;
                    color: var(--primary-color-2);
                }
            }
        }
    }


    .contact-share {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 44px;

        .text {
            span {
                color: var(--headline-color);
                font-family: var(--roboto);
                font-size: 20px;
                font-weight: var(--regular);
            }
        }

        .icon {
            display: flex;
            align-items: center;
            gap: 30px;

            a {
                span {
                    svg {
                        fill: currentColor;
                        color: var(--headline-color);
                        transition: all linear 0.3s;

                        &:hover {
                            color: var(--primary-color-2);
                        }
                    }
                }
            }
        }
    }

    .contact-us-wight {
        padding-right: 200px;
    }





    .get-in-touch {
        padding: 52px 30px 30px 30px;
        border-radius: 10px;
        background: var(--headline-color);

        .get-in-touch-taitel {
            font-family: var(--DMSans);
            font-size: 24px;
            font-weight: var(--bold);
            line-height: 34px;
            color: var(--white-color);
            padding-bottom: 30px;
        }

        .get-in-touch-form-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 20px;

            .get-in-touch-form-inner {
                width: 100%;
            }
        }

        .form-label {
            color: var(--white-color);
            font-family: var(--roboto);
            font-size: 16px;
            font-weight: var(--regular);
            line-height: 18px;

            span {
                color: var(--primary-color-2);
            }
        }


        .form-control {
            color: var(--headline-color);
            font-family: var(--roboto);
            font-size: 16px;
            font-weight: var(--regular);
            line-height: 18px;
            padding: 20px 25px;

            &:focus {
                border-color: var(--primary-color-2);
                color: var(--headline-color);
            }
        }

        .thm-btn-two {
            width: 100%;
            border: 0;
        }


    }

    iframe {
        width: 100%;
        height: 670px;
        margin-top: 120px;
    }












}