.inventory {
    padding: 120px 0;
    background-color: var(--white-color);
    position: relative;
    z-index: 1;



    .brand-car-two {
        .brand-car-item {
            border: 1px solid #EDEDED;
            background-color: #fff;
            gap: 20px;

            .brand-car-item-img {
                width: 185px;
                height: 203px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .brand-car-inner {
                flex: 1 1 0%;

                h3 {
                    padding-top: 6px;
                    font-size: 24px;
                }
            }

            .brand-car-inner-item-main {
                gap: 10px;
            }



        }


    }





}



.inventory-main-box {
    border-radius: 4px;
    background-color: var(--white-color);
    padding: 30px;

    /* Drop Shadow */
    box-shadow: 0px 9px 126px 0px rgba(20, 0, 255, 0.06);

    .inventory-taitel {
        h5 {
            font-weight: var(--medium);
            line-height: 18px;
        }
    }

    .location-box {
        position: relative;


        .form-control {
            padding: 17px 17px 17px 16px;
            font-size: 14px;
            font-weight: var(--regular);
            font-family: var(--roboto);
            color: var(--headline-color);
            border: 1px solid #ECEAFF;
            border-radius: 4px;
            margin-top: 16px;

            &:focus {
                border-color: var(--primary-color-2);
            }

            &::placeholder {
                color: #7E8BA0;
            }

        }

        .icon {
            border: 1px solid var(--primary-color-2);
            width: 36px;
            height: 36px;
            background-color: var(--primary-color-2);
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 10px;
            right: 8px;

            span {
                line-height: 0;

                svg {
                    stroke: currentColor;
                    color: var(--white-color);
                }
            }


        }
    }

    .accordion-body {
        padding: 0;
    }

    .accordion-item {
        background-color: var(--white-color);
        border: 1px solid var(--white-color);
    }

    .accordion-button::after {
        width: 13px;
        height: 7.41px;
        background-image: url(../assets/images/icon/arrow-2.png);
        background-size: cover;
        transform: rotate(-180deg);
    }

    .accordion-button:not(.collapsed)::after {
        transform: rotate(-360deg);
    }

    .accordion-header {
        padding-top: 0;
    }

    .accordion-button {
        font-weight: var(--medium);
        padding: 0;
        line-height: normal;
        font-size: 18px;
        padding: 20px 0 10px 0;

        color: var(--headline-color);

        &:focus {
            box-shadow: 0 0 0 .25rem transparent;

        }
    }

    .accordion-button:not(.collapsed) {
        color: var(--headline-color);
        background-color: var(--white-color);
        box-shadow: inset 0 -1px 0 transparent;
        padding: 20px 0 10px 0;
    }






    .select-Brand-box {

        &.four {
            padding: 0 20px 20px 20px;
        }

        border-radius: 4px;
        border: 1px solid #EDEDED;
        padding: 20px;
        height: 365px;
        overflow-y: scroll;
        display: inline-block;
        width: 100%;

        &.two {
            overflow: unset;
            height: unset;

        }

        &.three {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
        }

        .form-check-label {
            font-size: 16px;
            font-weight: var(--regular);
            line-height: normal;
            color: var(--headline-color);
            font-family: var(--roboto);
            margin-top: 18px;

        }

        .form-check {
            display: flex;
            gap: 15px;
            padding-left: 20px;
            min-height: 0;

            &:last-child {
                margin-bottom: 0;
            }

        }

        .form-check-input {
            width: 18px;
            height: 18px;
            background-color: #EDEDED;
            border: 1px solid #EDEDED;


            &:focus {
                box-shadow: 0 0 0 0.25rem transparent;
            }
        }

        .form-check-input:checked {
            background-color: var(--primary-color-2);
            border-color: var(--primary-color-2);
        }



    }




    .noUi-target {
        background: rgba(64, 95, 242, 0.2);
        border-radius: 30px;
        border: 1px solid transparent;
        box-shadow: inset 0 1px 1px transparent;
        height: 6px !important;
        display: inline-block;
        width: 100%;

    }

    .noUi-handle {
        border: 3px solid var(--primary-color-2);
        border-radius: 3px;
        background: var(--white-color);
        box-shadow: inset 0 0 1px transparent;


    }

    .noUi-horizontal .noUi-handle {
        width: 16px;
        height: 16px;
        border-radius: 50px;
        right: -17px;
        top: -6px;

    }

    .noUi-handle:after,
    .noUi-handle:before {
        display: none;
    }

    .noUi-connect {
        background: var(--primary-color-2);

    }

    .example-val {
        font-size: 16px;
        font-weight: var(--regular);
        line-height: 18px;
        color: var(--paragraph-color);
        font-family: var(--roboto);

    }

    .mb-3 {
        margin-bottom: 12px !important;
    }




    .color-dark,
    .color-golden,
    .color-orreng,
    .color-yellow,
    .color-blue,
    .color-sky,
    .color-green,
    .color-white,
    .color-ash {
        height: 24px;
        width: 24px;
        border-radius: 2px;
        cursor: pointer;
    }

    .color-dark {
        background-color: #030304;
    }

    .color-golden {
        background-color: #FF970E;
    }

    .color-orreng {
        background-color: var(--primary-color);
    }

    .color-yellow {
        background-color: #FBEB1A;
    }

    .color-blue {
        background-color: #333764;
    }

    .color-sky {
        background-color: #0379ED;
    }

    .color-green {
        background-color: #8BBB00;
    }

    .color-white {
        background-color: #EFEFEF;
    }

    .color-ash {
        background-color: #BFBFBF;
    }


}


.inventory-main-box-thumb {
    margin-top: 30px;
    position: relative;

    img {
        width: 100%;
        height: 525px;
    }

    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        border: 1px solid var(--white-color);
        border-radius: 50px;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}







.inventory-ber {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #EDEDED;
    background: var(--white-color);
    box-shadow: 0px 9px 126px 0px rgba(20, 0, 255, 0.06);
    margin-bottom: 40px;

    .inventory-ber-left {
        width: 100%;

        .inventory-sarch-ber-item {

            display: flex;
            align-items: center;
            gap: 30px;
            width: 100%;

            .inventory-sarch-ber {
                position: relative;
                width: 100%;

                .form-control {
                    width: 100%;
                    padding: 13px 20px;
                    background-color: #F0F3FF;
                    border: 1px solid #F0F3FF;
                    font-size: 16px;
                    font-weight: var(--regular);
                    line-height: 28px;
                    color: var(--headline-color);
                    font-family: var(--roboto);

                    &::placeholder {
                        color: var(--paragraph-color);
                    }

                    &:focus {
                        border-color: var(--primary-color-2);
                    }
                }

                .thm-btn-two {
                    position: absolute;
                    top: 7px;
                    right: 6px;
                    width: 160px;
                    height: 42px;
                }
            }

            .inventory-sarch-ber-text {
                width: 100%;

                p {
                    font-size: 18px;
                    font-weight: var(--regular);
                    line-height: 28px;
                    font-family: var(--roboto);

                    span {
                        color: var(--headline-color);
                    }
                }
            }

        }

    }



    .inventory-ber-right {
        .nav {
            display: flex;
            flex-wrap: nowrap;
            gap: 15px;
        }

        .nav-link {
            width: 44px;
            height: 44px;
            background-color: #F0F3FF;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--headline-color);
            font-size: 20px;

            span {
                line-height: 0;

                svg {
                    fill: currentColor;
                    color: var(--headline-color);
                }
            }
        }

        .nav-pills .nav-link.active,
        .nav-pills .show>.nav-link {
            color: var(--white-color) !important;
            background-color: var(--primary-color-2) !important;

            span {
                svg {
                    fill: currentColor;
                    color: var(--white-color);
                }
            }
        }
    }


}




.inventory-with-map {
    .inventory-ber {
        .inventory-ber-right {
            display: flex;
            align-items: center;
            gap: 30px;
            width: 50%;

            .inventory-ber-right-btn-one {
                a {
                    font-size: 18px;
                    font-weight: var(--medium);
                    line-height: 20px;
                    /* 111.111% */
                    text-decoration-line: underline;
                    font-family: var(--roboto);
                    color: var(--paragraph-color);
                }
            }
        }
    }

    .brand-car-item {
        &.two {
            .brand-car-item-img {
                img {
                    width: 100%;
                }
            }
        }
    }


    .next-prev-btn {
        ul {
            justify-content: start;
        }
    }



    iframe {
        width: 100%;
        height: 817px;
        border-radius: 10px 0px 0px 10px;
    }



}









.next-prev-btn {
    margin-top: 50px;

    &.two {
        margin-top: 10px;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: end;

        li {
            a {
                font-size: 18px;
                font-weight: var(--medium);
                line-height: 20px;
                color: #7E8BA0;
                width: 49px;
                height: 49px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                border: 1px solid #EDEDED;
                transition: var(--transition-all);
                font-family: var(--roboto);

                &:hover {
                    background-color: var(--primary-color-2);
                    border: 1px solid var(--primary-color-2);
                    color: var(--white-color);
                }


            }



            .two {
                color: var(--headline-color);
                border: 1px solid transparent;

                &.active {
                    color: var(--white-color);
                }
            }


        }

        .active {
            background-color: var(--primary-color-2);
            border: 1px solid var(--primary-color-2);
            color: var(--white-color);


        }


    }
}