// mobile naviagtion

.container-full {
    width: 100%;
}

.mobile-header {
    display: none;
    position: relative;
    z-index: 111;
    background-color: var(--headline-color);

    &.two {
        background-color: var(--primary-color-3);

        #nav-opn-btn {
            background-color: var(--white-color);

            i {
                color: var(--primary-color-3);
            }

            svg {
                color: var(--primary-color-3);
            }
        }
    }

    &.three {
        background-color: var(--primary-color-1);

        #nav-opn-btn {
            background-color: var(--white-color);

            i {
                color: var(--primary-color-1);
            }

            svg {
                color: var(--primary-color-1);
            }
        }
    }
}

.mobile-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}

#nav-opn-btn {
    width: 40px;
    height: 40px;
    border: none;
    background: var(--primary-color-2);
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
}

// offcanvas

#offcanvas-nav {
    background: transparent;
    position: absolute;
    left: -300px;
    top: 0px;
    z-index: 99;
    width: 300px;
    height: 100vh;
    z-index: 999999;
    transition: 0.5s ease;

    &::before {
        content: "";
        width: 0%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        transition: 0.5s ease 0.3s;
    }
}

#offcanvas-nav.open {
    left: 0px;

    &::before {
        width: 100%;
    }
}

#offcanvas-nav .m-nav {
    position: relative;
    background: #fff;
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
    z-index: 9;
    display: block;
    height: 100%;
    overflow-y: scroll;
}

#nav-cls-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    background: none;
    border: none;
    outline: none;
    font-size: 22px;
}

#offcanvas-nav .m-nav .nav-links {
    flex-direction: column;
    align-items: stretch;
    gap: 15px;

    li {
        border-bottom: 1px solid #E9E9E9;
        margin-bottom: 20px;


        a {
            font-size: 16px;
            color: #000;

            &::before {
                display: none;
            }
        }
    }
}



#offcanvas-nav .m-nav .nav-links .dropdown {
    .d-menu {
        position: relative;
        box-shadow: none;
        padding-left: 20px;
        padding-top: 15px !important;
        padding-top: 0px;
        visibility: visible;
        opacity: 1;
        display: none;
        transition: 0.5s ease-in 0s;

        li {
            padding: 5px 0px;

            a {
                font-size: 15px;
                color: #000;
            }
        }
    }

    &:hover {
        .d-menu {
            display: block;
        }
    }
}

#offcanvas-nav .m-nav .logo {
    margin-bottom: 40px;
}

#offcanvas-nav .m-nav>.social-icons-s1 {
    gap: 12px;
    margin-top: 50px;

    li a::before {
        display: none;

    }
}