.vedio {
    padding-bottom: 35px;
    background-color: var(--white-color);
    position: relative;
    z-index: 1;

    .taitel {


        .taitel-img {
            position: absolute;
            bottom: -16px;
            left: 0px;
        }
    }

    .vedio-bg {
        padding: 115px 0px 315px 100px;
        border-radius: 6px;
        position: relative;
    }

    .vedio-taitel {
        color: var(--white-color);
        padding-top: 36px;
    }

    .vedio-btn {
        margin-top: 60px;

        .thm-btn {
            color: var(--headline-color);
        }

        .thm-btn-two {
            display: inline-block;
        }
    }

    .vedio-item {
        display: flex;
        align-items: center;
        justify-content: center;

        .my-video-links {
            z-index: 1;
            position: relative;
        }

        .vedio-item-icon {
            width: 118px;
            height: 118px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--white-color);
            position: relative;

            &::after {
                position: absolute;
                content: "";
                top: -25px;
                left: -27px;
                width: 170px;
                height: 170px;
                border-radius: 100%;
                background-color: var(--primary-color-1);
                animation: waves 4s linear infinite;
                z-index: -1;
                transform: translate(-50%, -50%);
            }

            &::before {
                position: absolute;
                content: "";
                top: -25px;
                left: -27px;
                width: 170px;
                height: 170px;
                border-radius: 100%;
                background-color: var(--white-color);
                animation: waves 5s linear infinite;
                z-index: -1;
                transform: translate(-50%, -50%);
            }

            span {
                svg {
                    fill: currentColor;
                    color: var(--primary-color-1);
                }
            }
        }
    }

    .vedio-counter {
        padding: 35px 70px;
        border-radius: 8px 0px 0 0;
        background-color: var(--white-color);
        box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.06);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 1080px;

        .vedio-counter-item {
            display: flex;
            align-items: center;
            gap: 30px;

            .icon {
                img {
                    width: 90px;
                    height: 90px;
                    border-radius: 50px;
                    object-fit: cover;
                }
            }

            .text {
                h2 {
                    padding-top: 0;
                    font-size: 70px;
                }

                h5 {
                    font-weight: var(--medium);
                    color: var(--paragraph-color);
                    padding-top: 6px;
                }
            }
        }
    }
}


.vedio-two {
    .vedio-item {
        display: flex;
        align-items: center;
        justify-content: center;

        .my-video-links {
            z-index: 1;
            position: relative;
        }

        .vedio-item-icon {

            &::after {
                background-color: var(--primary-color-2);

            }

            span {
                svg {
                    fill: currentColor;
                    color: var(--primary-color-2);
                }
            }
        }
    }
}